body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #6a0dad; /* Dark purple */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.form-control {
  background-color: #282828;
  color: #ffffff;
  border: 1px solid #6a0dad; /* Dark purple */
}

.btn-primary {
  background-color: #6a0dad; /* Dark purple */
  border: none;
}

.card {
  background-color: #282828;
  color: #ffffff;
  border: 1px solid #6a0dad; /* Dark purple */
}

.card img {
  border-bottom: 1px solid #6a0dad; /* Dark purple */
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
}

audio {
  margin-top: 10px;
}

.spinner-border {
  color: #6a0dad; /* Dark purple */
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.container {
  padding-top: 20px;
}

/* Additional Styles */
.genre-button {
  background-color: #6a0dad;
  border: none;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.player-controls button {
  background-color: #6a0dad;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}
